---
source_file: "src/validations/index.ts"
type: "code"
community: "Community 10"
location: "L22"
tags:
  - graphify/code
  - graphify/EXTRACTED
  - community/Community_10
---

# ValidationResult

## Connections
- [[validationsindex.ts]] - `contains` [EXTRACTED]

#graphify/code #graphify/EXTRACTED #community/Community_10